#title {
    text-align: center;
    font-family: 'Merriweather', serif;
}

.body {
    font-family: 'Noto Sans', sans-serif;
}

#description {
    text-align: center;
}

#survey-form {
    text-align: center;
    line-height: 2;
}

